:root {
  --dark-navy: #2F3345;
  --low-navy: #5B6283;
  --medium-navy: #4D526B;
  --high-navy: #2F3345;
  --light-navy: #71737F;
  --font-main: 'Pretendard', sans-serif;
}

body {
  font-family: var(--font-main);
  color: var(--dark-navy);
}

.welcome-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}
.title-text {
  color: var(--dark-navy);
  text-align: center;
  font-size: 21px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.4px;
}
.title-text-light {
  font-size: 18px;
  font-weight: 500;
}
.hello-wrapper {
  display: flex;
  width: 338px;
  padding: 23px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-top: 25px;
  border-radius: 7px;
  background: var(--dark-navy);
}
.hello-text {
  color: white;
  text-align: justify;
  font-size: 13.5px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: -0.2px;
}
.hello-bold {
  font-weight: 600;
}
.logo-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.logo-image {
  width: 152px;
  height: auto;
}
.logo-text {
  margin-left: 25px;
  color: var(--light-navy);
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.2px;
}
.logo-text-light {
  font-weight: 500;
}
.phone-input-wrapper {
  display: flex;
  width: 378px;
  height: 36px;
  justify-content: center;
  margin-top: 20px;
}
.phone-input-square {
  display: flex;
  width: 122px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--dark-navy);
  border-radius: 17px;
}
.phone-input-square-text {
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.2px;
}
.phone-input {
  width: 231px;
  margin-left: 6px;
  border: none;
  border-radius: 17px;
  background-color: #E7E7E7;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.2px;
  text-align: center;
  color: var(--dark-navy);
  outline: none;
}
.phone-input::placeholder {
  color: #A9A9A9;
  font-weight: 500;
}
.next-button {
  display: flex;
  padding: 9px 32px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-top: 44px;
  border: none;
  border-radius: 20px;
  background: var(--dark-navy);
  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease;
}

.next-button:hover {
  background: #1d202c;
  transform: translateY(-2px);
}
.next-button-text {
  color: white;
  text-align: center;
  font-family: Pretendard;
  font-size: 25px;
  font-weight: 800;
  line-height: normal;
}

.step-wrapper {
  height: 100vh;
  overflow-y: auto;
}
.step-scroll-wrapper {
  padding-top: 65px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step-main-description {
  width: 525px;
  text-align: center;
  color: var(--dark-navy);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.23px;
  margin-top: 34px;
  margin-bottom: 19px;
}
.step-sub-description {
  width: 525px;
  text-align: justify;
  color: var(--light-navy);
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  letter-spacing: -0.2px;
}
.sub-bold {
  font-weight: 700;
}
.rating-options {
  display: flex;
  gap: 7px;
  justify-content: center;
  margin-top: 24px;
  letter-spacing: -0.5px;
}
.rating-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rating-button {
  background-color: var(--dark-navy);
  color: white;
  width: 170px;
  height: 29px;
  border: none;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}
.rating-description {
  background-color: #F7F7F7;
  margin-top: 7px;
  width: 170px;
  height: 69px;
  text-align: center;
  border: none;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13.5px;
  font-weight: 500;
  color: var(--dark-navy);
  white-space: pre-line;
}
.question-list {
  flex-grow: 1;
  margin-top: 27px;
}
.question-item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 525px;
  border-top: 1px solid #dddddd;
}
.question-text {
  width: 402px;
  color: var(--dark-navy);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.2px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: justify;
}
.question-text-bold {
  font-weight: 700;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 5px;
}
.option-button {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 14px;
  padding-bottom: 2px;
  background-color: #E7E7E7;
  color: #A5A5A5;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.1s ease;
}
.option-button:hover {
  transform: translateY(-2px);
}
.option-button.selected {
  background: var(--dark-navy);
  color: white;
  font-weight: 500;
}
.bottom-fixed-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--dark-navy);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 13px;
}
.group-description-text {
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.2px;
  margin-top: -1px;
}
.group-remaining {
  background-color: white;
  width: 380px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  border: none;
  border-radius: 12px;
  padding: 3px;
}
.group-remaining-text {
  color: var(--dark-navy);
  text-align: center;
  font-size: 13.5px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.2px;
}

.step2-description {
  width: 640px;
}
.step2-warning {
  color: #DB3E58;
  width: 580px;
  font-weight: 600;
  margin-top: 18px;
  text-align: center;
}
.step2-rating-options {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 24px;
  letter-spacing: -0.5px;
}
.step2-rating-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 153px;
}
.step2-rating-button {
  background-color: var(--dark-navy);
  color: white;
  width: 100%;
  height: 29px;
  border: none;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}
.step2-rating-description {
  background-color: #F7F7F7;
  margin-top: 7px;
  width: 100%;
  height: 59px;
  text-align: center;
  border: none;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13.5px;
  font-weight: 500;
  color: var(--dark-navy);
  white-space: pre-line;
}
.rating-color-low {
  background-color: var(--low-navy);
}
.rating-color-medium {
  background-color: var(--medium-navy);
}
.rating-color-high {
  background-color: var(--high-navy);
}